[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = https://github.com/slikhite-1/Megatron-Bridge.git
	branch = slikhite/glm51-mcore-pin
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = main
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/NVIDIA-NeMo/Gym.git
	branch = main
	shallow = true
[submodule "3rdparty/Megatron-Bridge-workspace/Megatron-Bridge"]
	url = https://github.com/xuanzic/Megatron-Bridge.git
	branch = xuanzic/glm51-nemorl
